body {
    --principal: rgb(15, 20, 25);
    --atenuado: rgb(83, 100, 113);

    margin: 0px;
    font-family: sans-serif;
    color: var(--principal);
}

a {
    color: #844;
    &:hover {
        color: #422;
    }
}

blockquote {
    margin: 10px 0px;
    padding: 0px 20px;
    border-left: 4px solid #eee;
    font-style: italic;
    color: #666;
}

article {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 20px;

    max-width: 500px;
    margin: 0px auto;
    margin-bottom: 20px;

    padding: 20px 15px;
    border: 1px solid #f0f0f0;
    border-radius: 10px;

    &:hover {
        background-color: #f8f8f8;
    }

    @media (max-width: 480px) {
        width: 100%;
        grid-template-columns: 40px 1fr;
        gap: 10px;
        box-sizing: border-box;
    }

    div.hackergotchi img {
        width: 100%;
        border-radius: 25px;
    }

    div.contenido {
        h1 {
            font-size: 90%;
            margin: 0px;
            font-weight: normal;
            color: var(--atenuado);

            .nombre-usuario {
                font-weight: bold;
                color: var(--principal);
            }
            .nombre-blog a {
                color: var(--atenuado);
            }
        }

        div.cuerpo {
            margin: 16px 0px;

            img {
                max-width: 100%;
            }
            figure {
                margin: 0px;
            }
        }

        div.imagen img{
            width: 100%;
            border-radius: 15px;
        }

        div.enlaces {
            font-size: 80%;
            margin: 5px 0px;
            a {
                color: #66a;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
